//
// Estilos para bloques
//

.block-sidebar {
  margin-bottom: 40px;
  h2 {
    @extend %title;
  }
}

.block-sidebar--como-ayudar {
  background-color: $subtitle-color;
  text-align: center;
  padding: 60px 0;
  h2 {
    border-bottom: none;
    padding: 0;
    margin: 0;
  }
  a {
    color: $highlight2-color;
    font-family: $title-font;
    text-transform: uppercase;
    @include font-size(22);
    &:after {
      content: ">";
      margin-left: 5px;
      @include font-size(30);
    }
  }
}

.block-consultas-inicio {
  padding: 40px;
  background-color: $highlight1-color;
  h2, p {
    color: #fff;
  }
  .button {
    margin-top: 2em;
    @include font-size(12);
    a {
      background-color: transparent;
      border: 1px solid #fff;
    }
  }
}

.block-propuestas-inicio {
  padding: 40px;
  background-color: #e8e8e8;
  p {
    max-width: 400px;
  }
  .button {
    margin-top: 2em;
    @include font-size(12);
    a {
      background-color: $subtitle-color;
      border: 1px solid $subtitle-color;
    }
  }
}