//
// Estilos para bloques
//

.block-sidebar {
  margin-bottom: 40px;
  h2 {
    @extend %title;
  }
}

.block-sidebar--como-ayudar {
  background-color: $subtitle-color;
  text-align: center;
  padding: 60px 0;
  h2 {
    border-bottom: none;
    padding: 0;
    margin: 0;
  }
  a {
    color: $highlight2-color;
    font-family: $title-font;
    text-transform: uppercase;
    @include font-size(22);
    &:after {
      content: ">";
      margin-left: 5px;
      @include font-size(30);
    }
  }
}