//
// Estilos para el formulario de contacto
//

.page-contact {
  .title {
    @extend %title;
  }
  .contact-form {
    margin-top: 40px;
  }
  label {
    color: $subtitle-color;
    @include font-size(12);
  }
  input[type="text"], textarea {
    border: 1px solid $background-color;
    border-radius: 3px;
    @include font-size(12);
    padding: 3px 5px;
  }
  .form-type-textfield, .form-type-textarea {
    overflow: hidden;
    label {
      @include span-columns(2 of 8);
    }
    input, textarea {
      @include span-columns(6 of 8);
    } 
  }
  .form-actions {
    margin-top: 30px;
  }
  .form-submit {
    border: none;
    border-radius: 3px;
    background-color: $highlight2-color;
    color: #fff;
    padding: 8px 15px;
    @include font-size(12);
  }
}