// Header styles

.header-content {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  @include media($header-break) {
    align-items: center;
    flex-direction: row;
  }
}

// .site-logo, .site-slogan {
//   display: inline-block;
//   // @include media($mobile) {
//   //   display: inline-block;
//   //   vertical-align: top;
//   // }
// }

.site-logo {
  margin: 15px 0;
  @include media($header-break) {
    margin: 0 20px 0 0;
  }
}

.site-slogan {
  margin: 15px 0;
  @include font-size(13);
  @include media($header-break) {
    padding-left: 20px;
    max-width: 400px;
  }
}

.header-content .nav-social {
  position: absolute;
  top: 15px;
  right: 20px;
  @include media($full-width) {
    right: 0;
  }
}
