// 
// Main navigation styles
//

.nav-main {
  border-top: 1px solid $background-color;
  border-bottom: 1px solid $background-color;
  @include outer-container;
  h2 {
    @extend %hidden;
  }
  .content {
    li {
      text-transform: uppercase;
      &:first-child a {
        padding-left: 0;
      }
      .menu {
        display: none;
        border: 1px solid $background-color;
        border-top-color: #fff;
        background-color: #fff;
        li a {
          padding: 10px;
          &:hover {
            background-color: lighten($highlight2-color, 35%);
          }
        }
      }
      &:hover .menu {
        display: block;
      }
    }
    a {
      display: block;
      padding: 10px;
      font-family: $subtitle-font;
      @include font-size(12);
      color: $text-color;
      &.active {
        color: $highlight2-color;
        font-weight: 700;
      }
    }
  }
}

.footer .nav-main {
  border: none;
  li {
    display: inline;
    text-transform: uppercase;
    margin-right: 10px;
  }
  a {
    font-family: $subtitle-font;
    color: $text-color;
    @include font-size(12);
    &.active {
      color: #fff;
    }
  }
}