//
// Estilos para vistas de consultas
//

.view-consultas-page {
  @include outer-container;
  .views-row {
    margin-bottom: 2em;
    @include media($mobile) {
      @include span-columns(6);
    }
    &:nth-child(2n) {
      @include media($mobile) {
        @include shift(1);
      }
    }
  }
  .views-field-field-consulta-imagenes {
    float: left;
    margin-right: 25px;
    img {
      border-radius: 5px;
    }
  }
  .views-field-field-consulta-fecha {
    color: $highlight1-color;
    @include font-size(11);
  }
  .views-field-consulta-title {
    margin: 0.5em 0;
  }
  .views-field-body {
    p {
      margin: 0;
      @include font-size(12);
    }
  }
}