//
// Estilos para vistas de propuestas
//

.view-propuestas-page {
  overflow: hidden;
  .category-wrapper {
    width: 33.333333%;
    float: left;
    &:first-child .category-title {
      background-color: $highlight1-color;
    }
    &:last-child .category-title {
      background-color: darken($highlight1-color, 10%);
    }
  }
  .category-title {
    text-transform: uppercase;
    color: #fff;
    background-color: darken($highlight1-color, 5%);
    padding: 2em;
  }
  .views-row {
    padding: 0 2em;
    margin-bottom: 5em;
  }
  .propuesta-title {
    @include font-size(14);
    margin-bottom: 0.5em;
  }
  .propuesta-body p {
    @include font-size(12);
  }
}

.view-propuestas-consulta {
  .pane-title {
    //margin-bottom: 0;
  }
  .view-header {
    margin-bottom: 10px;
  }
  .header-propuestas {
    font-weight: 700;
    text-transform: uppercase;
    @include font-size(12);
  }
  .view-footer {
    margin-top: 20px;
    a {
      @include font-size(12);
      color: $highlight1-color;
    }
  }
  .views-field-title {
    margin-bottom: 0.3em;
    a {
      color: $text-color;
    }
  }
}

.propuestas-inicio {
  .pane-title {
    @extend %title;
    margin-bottom: 1.5em;
  }
  .view-content {
    @include span-columns(5 of 7);
  }
  .view-content > h3 {
    text-transform: uppercase;
    @include font-size(14);
    border-bottom: 1px solid #ddd;
    padding-bottom: 0.3em;
  }
  .propuestas-inicio-propuesta {
    margin-bottom: 2em;
  }
  .propuestas-inicio-propuesta-title {
    margin-bottom: 0.3em;
    @include font-size(13);
  }
  .views-field-body p {
    @include font-size(12);
  }
}