//
// Estilos para los webforms
//

.webform-client-form {
  margin-top: 5em;
  label {
    @include font-size(14);
    margin-bottom: 0.8em;
  }
  .form-item {
    margin: 0 0 3em 0;
  }
  .form-type-radio {
    margin: 0 0 0.8em 0;
  }
  .form-submit {
    border: none;
    border-radius: 3px;
    background-color: $highlight2-color;
    color: #fff;
    padding: 8px 15px;
    @include font-size(14);
  }
  .webform-component-file {
    .description {
      @include font-size(10);
      margin-top: 0.5em;
    }
    .form-submit {
      @include font-size(12);
      background-color: $subtitle-color;
      padding: 6px 12px;
    }
  }
}

.webform-confirmation {
  .links {
    margin-top: 1em;
    a {
      display: inline-block;
      color: #fff;
      padding: 0.5em 1em;
      border-radius: 5px;
      background-color: $title-color;
      border-bottom: 2px solid darken($title-color, 15%);
    }
  }
}
