@charset "UTF-8";
@import url(http://fonts.googleapis.com/css?family=Dosis:700);
@import url(http://fonts.googleapis.com/css?family=Lato:400,700,900,700italic,900italic);
@import url(http://fonts.googleapis.com/css?family=Noto+Sans:400,700,400italic,700italic);
/*
 * Estilos para sitio web YSGA
 * Desarrollado por Estudio Manatí (http://estudiomanati.com)
 *
 */
html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

.element-invisible, .nav-main h2 {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px); }

.block-sidebar h2, .page-contact .title {
  font-family: Dosis, sans-serif;
  color: #f7931e;
  font-size: 22px;
  font-size: 2.2rem;
  border-bottom: 2px solid #f7931e;
  text-transform: uppercase;
  padding-bottom: 3px; }

/*
 * Rules for base elements
 */
html {
  font-size: 62.5%; }

body {
  margin: 0;
  font-family: 'Noto Sans', sans-serif;
  color: #5d5d5d; }

p, li {
  font-size: 14px;
  font-size: 1.4rem;
  color: #555;
  line-height: 1.5; }

p, ul, ol, dl {
  margin: 0 0 0.5em 0; }

ul, ol {
  padding-left: 2em; }

p {
  overflow: hidden; }

a {
  text-decoration: none; }

a:hover {
  text-decoration: underline; }

h1, h2, h3, h4, h5, h6 {
  margin-top: 0; }

table {
  width: 100%;
  border-collapse: collapse;
  font-size: 14px;
  font-size: 1.4rem; }

th, td {
  padding: 0.5em; }

/*
 * Rules for base drupal elements
 */
.tabs {
  padding: 0;
  overflow: hidden;
  border-bottom: 1px solid #ccc;
  margin: 10px 0; }
  .tabs li {
    list-style-type: none;
    float: left; }
  .tabs a {
    color: #333;
    font-size: 14px;
    font-size: 1.4rem;
    padding-right: 20px; }
    .tabs a.active {
      color: #000;
      font-weight: 600; }
    .tabs a:hover {
      color: #000;
      text-decoration: none; }

.header-content {
  margin: 10px; }
  @media screen and (min-width: 480px) {
    .header-content {
      height: 120px;
      margin: 0;
      max-width: 1200px;
      margin-left: auto;
      margin-right: auto; }
      .header-content::after {
        clear: both;
        content: "";
        display: table; } }

.footer-content {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto; }
  .footer-content::after {
    clear: both;
    content: "";
    display: table; }

.main-content {
  margin: 40px 0;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto; }
  .main-content::after {
    clear: both;
    content: "";
    display: table; }

.no-sidebars .main {
  width: 100%; }

@media screen and (min-width: 480px) {
  .one-sidebar .main {
    float: left;
    display: block;
    margin-right: 2.1723540489%;
    width: 60.7029407504%; }
    .one-sidebar .main:last-child {
      margin-right: 0; } }

@media screen and (min-width: 480px) {
  #sidebar-first {
    float: left;
    display: block;
    margin-right: 2.1723540489%;
    width: 37.1247052007%; }
    #sidebar-first:last-child {
      margin-right: 0; } }

.site-logo, .site-slogan {
  display: block; }
  @media screen and (min-width: 480px) {
    .site-logo, .site-slogan {
      display: inline-block;
      vertical-align: top; } }

@media screen and (min-width: 480px) {
  .site-logo {
    margin-top: 26px; } }

.site-slogan {
  margin-top: 10px;
  font-size: 12px;
  font-size: 1.2rem; }
  @media screen and (min-width: 480px) {
    .site-slogan {
      margin: 26px 0 0 30px;
      padding-left: 30px;
      height: 68px;
      border-left: 1px solid #ddd;
      max-width: 350px;
      padding-top: 15px; } }

.footer {
  background-color: #2f2935;
  padding: 20px 0; }

.nav .content ul {
  margin: 0;
  padding: 0; }
.nav .content li {
  list-style-type: none;
  display: inline-block;
  position: relative; }
  .nav .content li .menu {
    position: absolute;
    width: 250px; }
    .nav .content li .menu li {
      display: block; }

.block-sidebar--menu-acerca ul {
  margin: 0;
  padding: 0; }
.block-sidebar--menu-acerca li {
  list-style-type: none;
  font-weight: 700;
  margin: 0 0 0.5em 0; }
.block-sidebar--menu-acerca a {
  color: #2f2935; }
  .block-sidebar--menu-acerca a.active {
    color: #20ceac; }

.nav-main {
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto; }
  .nav-main::after {
    clear: both;
    content: "";
    display: table; }
  .nav-main .content li {
    text-transform: uppercase; }
    .nav-main .content li:first-child a {
      padding-left: 0; }
    .nav-main .content li .menu {
      display: none;
      border: 1px solid #ddd;
      border-top-color: #fff;
      background-color: #fff; }
      .nav-main .content li .menu li a {
        padding: 10px; }
        .nav-main .content li .menu li a:hover {
          background-color: #c6e9f7; }
    .nav-main .content li:hover .menu {
      display: block; }
  .nav-main .content a {
    display: block;
    padding: 10px;
    font-family: Lato, sans-serif;
    font-size: 12px;
    font-size: 1.2rem;
    color: #5d5d5d; }
    .nav-main .content a.active {
      color: #29abe2;
      font-weight: 700; }

.footer .nav-main {
  border: none; }
  .footer .nav-main li {
    display: inline;
    text-transform: uppercase;
    margin-right: 10px; }
  .footer .nav-main a {
    font-family: Lato, sans-serif;
    color: #5d5d5d;
    font-size: 12px;
    font-size: 1.2rem; }
    .footer .nav-main a.active {
      color: #fff; }

.block-sidebar--como-ayudar {
  background-color: #2f2935;
  text-align: center;
  padding: 60px 0; }
  .block-sidebar--como-ayudar h2 {
    border-bottom: none;
    padding: 0;
    margin: 0; }
  .block-sidebar--como-ayudar a {
    color: #29abe2;
    font-family: Dosis, sans-serif;
    text-transform: uppercase;
    font-size: 22px;
    font-size: 2.2rem; }
    .block-sidebar--como-ayudar a:after {
      content: ">";
      margin-left: 5px;
      font-size: 30px;
      font-size: 3rem; }

@media screen and (min-width: 480px) {
  .page-contact .main {
    padding-right: 6%; } }
.page-contact label {
  color: #2f2935;
  font-size: 12px;
  font-size: 1.2rem; }
.page-contact input[type="text"], .page-contact textarea {
  border: 1px solid #ddd;
  border-radius: 3px;
  font-size: 12px;
  font-size: 1.2rem;
  padding: 3px 5px; }
.page-contact .form-type-textfield, .page-contact .form-type-textarea {
  overflow: hidden; }
  .page-contact .form-type-textfield label, .page-contact .form-type-textarea label {
    float: left;
    display: block;
    margin-right: 3.5786636068%;
    width: 22.3160022949%; }
    .page-contact .form-type-textfield label:last-child, .page-contact .form-type-textarea label:last-child {
      margin-right: 0; }
  .page-contact .form-type-textfield input, .page-contact .form-type-textfield textarea, .page-contact .form-type-textarea input, .page-contact .form-type-textarea textarea {
    float: left;
    display: block;
    margin-right: 3.5786636068%;
    width: 74.1053340983%; }
    .page-contact .form-type-textfield input:last-child, .page-contact .form-type-textfield textarea:last-child, .page-contact .form-type-textarea input:last-child, .page-contact .form-type-textarea textarea:last-child {
      margin-right: 0; }
.page-contact .form-actions {
  margin-top: 30px; }
.page-contact .form-submit {
  border: none;
  border-radius: 3px;
  background-color: #29abe2;
  color: #fff;
  padding: 8px 15px;
  font-size: 12px;
  font-size: 1.2rem; }

/*# sourceMappingURL=style.css.map */