@charset "UTF-8";
/*
 * Estilos para sitio web YSGA
 * Desarrollado por Estudio Manatí (http://estudiomanati.com)
 *
 */
@import url(http://fonts.googleapis.com/css?family=Dosis:700);
@import url(http://fonts.googleapis.com/css?family=Lato:400,700,900,700italic,900italic);
@import url(http://fonts.googleapis.com/css?family=Noto+Sans:400,700,400italic,700italic);
html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

.element-invisible, .nav-main h2, .nav-social h2 {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px); }

.nav-social .content a {
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden; }

.block-sidebar h2, .panel-sidebar .pane-title, .page-contact .title, .propuestas-inicio .pane-title {
  font-family: Dosis, sans-serif;
  color: #f7931e;
  font-size: 22px;
  font-size: 2.2rem;
  border-bottom: 2px solid #f7931e;
  text-transform: uppercase;
  padding-bottom: 3px; }

/*
 * Rules for base elements
 */
html {
  font-size: 62.5%; }

body {
  margin: 0;
  font-family: "Noto Sans", sans-serif;
  color: #5d5d5d; }

p, li {
  font-size: 14px;
  font-size: 1.4rem;
  color: #555;
  line-height: 1.5; }

p, ul, ol, dl {
  margin: 0 0 0.5em 0; }

ul, ol {
  padding-left: 2em; }

p {
  overflow: hidden; }

a {
  text-decoration: none; }

a:hover {
  text-decoration: underline; }

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  font-family: Lato, sans-serif;
  color: #2f2935;
  font-weight: 700; }
  h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
    color: #2f2935; }

h1.title {
  font-size: 24px;
  font-size: 2.4rem; }

h3 {
  font-size: 16px;
  font-size: 1.6rem; }

h4, h5, h6 {
  font-size: 14px;
  font-size: 1.4rem; }

.field-name-body h2, .field-name-body h3, .field-name-body h4, .field-name-body h5, .field-name-body h6 {
  margin: 1em 0; }

table {
  width: 100%;
  border-collapse: collapse;
  font-size: 14px;
  font-size: 1.4rem; }

th, td {
  padding: 0.5em; }

img, iframe {
  height: auto;
  max-width: 100%; }

/*
 * Rules for base drupal elements
 */
.tabs {
  padding: 0;
  overflow: hidden;
  border-bottom: 1px solid #ccc;
  margin: 10px 0; }
  .tabs li {
    list-style-type: none;
    float: left; }
  .tabs a {
    color: #333;
    font-size: 14px;
    font-size: 1.4rem;
    padding-right: 20px; }
    .tabs a.active {
      color: #000;
      font-weight: 600; }
    .tabs a:hover {
      color: #000;
      text-decoration: none; }

.button {
  overflow: hidden;
  font-size: 11px;
  font-size: 1.1rem;
  margin: 0; }

.button a {
  display: inline-block;
  background-color: #ccc;
  color: #fff;
  padding: 0.5em 1em;
  border-radius: 5px; }
  .button a:hover {
    text-decoration: none; }

.button--alpha a {
  background-color: #f7931e;
  border-bottom: 2px solid #c26c07; }

.header-content {
  padding: 0 20px;
  position: relative;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto; }
  .header-content::after {
    clear: both;
    content: "";
    display: table; }
  @media screen and (min-width: 1200px) {
    .header-content {
      padding: 0; } }

.footer-content {
  position: relative;
  padding: 0 20px;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto; }
  .footer-content::after {
    clear: both;
    content: "";
    display: table; }
  @media screen and (min-width: 1200px) {
    .footer-content {
      padding: 0; } }

.main-content {
  margin: 40px 0;
  padding: 0 20px;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto; }
  .main-content::after {
    clear: both;
    content: "";
    display: table; }
  @media screen and (min-width: 1200px) {
    .main-content {
      padding: 0; } }

.no-sidebars .main {
  width: 100%; }

@media screen and (min-width: 768px) {
  .one-sidebar .main {
    float: left;
    display: block;
    margin-right: 2.17235%;
    width: 52.84353%; }
    .one-sidebar .main:last-child {
      margin-right: 0; } }

#sidebar-first {
  margin-top: 20px; }
  @media screen and (min-width: 768px) {
    #sidebar-first {
      margin-top: 0;
      float: left;
      display: block;
      margin-right: 2.17235%;
      width: 37.12471%;
      margin-left: 7.85941%; }
      #sidebar-first:last-child {
        margin-right: 0; } }

.panel-separator {
  display: none; }

.panel-one-two-col, .panel-two-col {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto; }
  .panel-one-two-col::after, .panel-two-col::after {
    clear: both;
    content: "";
    display: table; }
  .panel-one-two-col .panel-top, .panel-two-col .panel-top {
    margin-bottom: 40px; }
  @media screen and (min-width: 768px) {
    .panel-one-two-col .panel-content, .panel-two-col .panel-content {
      float: left;
      display: block;
      margin-right: 2.17235%;
      width: 52.84353%; }
      .panel-one-two-col .panel-content:last-child, .panel-two-col .panel-content:last-child {
        margin-right: 0; } }
  .panel-one-two-col .panel-sidebar, .panel-two-col .panel-sidebar {
    margin-top: 20px; }
    @media screen and (min-width: 768px) {
      .panel-one-two-col .panel-sidebar, .panel-two-col .panel-sidebar {
        margin-top: 0;
        float: left;
        display: block;
        margin-right: 2.17235%;
        width: 37.12471%;
        margin-left: 7.85941%; }
        .panel-one-two-col .panel-sidebar:last-child, .panel-two-col .panel-sidebar:last-child {
          margin-right: 0; } }

.page-inicio .panel-one-two-col .panel-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }
  @media screen and (min-width: 768px) {
    .page-inicio .panel-one-two-col .panel-top {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-direction: row;
              flex-direction: row; } }

.block-consultas-inicio {
  margin-bottom: 20px; }
  @media screen and (min-width: 768px) {
    .block-consultas-inicio {
      margin-bottom: 0;
      width: 30%; } }

@media screen and (min-width: 768px) {
  .block-propuestas-inicio {
    width: 67%; } }

.header-content {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }
  @media screen and (min-width: 830px) {
    .header-content {
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-direction: row;
              flex-direction: row; } }

.site-logo {
  margin: 15px 0; }
  @media screen and (min-width: 830px) {
    .site-logo {
      margin: 0 20px 0 0; } }

.site-slogan {
  margin: 15px 0;
  font-size: 13px;
  font-size: 1.3rem; }
  @media screen and (min-width: 830px) {
    .site-slogan {
      padding-left: 20px;
      max-width: 400px; } }

.header-content .nav-social {
  position: absolute;
  top: 15px;
  right: 20px; }
  @media screen and (min-width: 1200px) {
    .header-content .nav-social {
      right: 0; } }

.footer {
  background-color: #ddd;
  padding: 20px 0; }

.footer-content .nav-social {
  margin-top: 20px; }
  @media screen and (min-width: 480px) {
    .footer-content .nav-social {
      margin-top: 0;
      position: absolute;
      right: 20px;
      top: 0; } }
  @media screen and (min-width: 1200px) {
    .footer-content .nav-social {
      right: 0; } }

.logo-hivos {
  margin-top: 20px;
  height: 35px;
  line-height: 35px;
  vertical-align: top; }
  .logo-hivos img {
    margin-left: 0.5em; }
  @media screen and (min-width: 480px) {
    .logo-hivos {
      margin-top: 0;
      position: absolute;
      top: -8px;
      right: 125px; } }
  @media screen and (min-width: 1200px) {
    .logo-hivos {
      right: 115px; } }

.nav .content ul {
  margin: 0;
  padding: 0; }

.nav .content li {
  list-style-type: none;
  display: inline-block;
  position: relative; }
  .nav .content li .menu {
    position: absolute;
    width: 250px; }
    .nav .content li .menu li {
      display: block; }

.block-sidebar--menu-acerca ul {
  margin: 0;
  padding: 0; }

.block-sidebar--menu-acerca li {
  list-style-type: none;
  font-weight: 700;
  margin: 0 0 0.5em 0; }

.block-sidebar--menu-acerca a {
  color: #2f2935; }
  .block-sidebar--menu-acerca a.active {
    color: #b01C32; }

.block-sidebar--menu-resultados ul {
  margin: 0;
  padding: 0; }

.block-sidebar--menu-resultados li {
  list-style-type: none;
  font-weight: 700;
  margin: 0 0 0.8em 0;
  padding: 0 0 0.8em 0;
  border-bottom: 1px solid #ddd; }

.block-sidebar--menu-resultados a {
  color: #5d5d5d; }
  .block-sidebar--menu-resultados a.active {
    color: #b01C32; }

.block-sidebar--menu-resultados .nolink {
  display: block;
  margin: 0 0 0.8em 0;
  color: #2f2935; }

.block-sidebar--menu-resultados li li {
  border-bottom: none;
  padding: 0; }
  .block-sidebar--menu-resultados li li a, .block-sidebar--menu-resultados li li span {
    font-size: 12px;
    font-size: 1.2rem; }

.block-sidebar--menu-resultados li li li {
  margin: 0 0 0.5em 0.8em; }

.block-sidebar--menu-resultados li.last {
  margin-bottom: 0; }

.nav-main {
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  margin: 0 20px; }
  @media screen and (min-width: 1200px) {
    .nav-main {
      max-width: 1200px;
      margin-left: auto;
      margin-right: auto; }
      .nav-main::after {
        clear: both;
        content: "";
        display: table; } }
  .nav-main .content li {
    text-transform: uppercase; }
    .nav-main .content li:first-child a {
      padding-left: 0; }
    .nav-main .content li .menu {
      display: none;
      border: 1px solid #ddd;
      border-top-color: #fff;
      background-color: #fff;
      z-index: 2; }
      .nav-main .content li .menu li a {
        padding: 10px; }
        .nav-main .content li .menu li a:hover {
          background-color: #c6e9f7; }
    .nav-main .content li:hover .menu {
      display: block; }
  .nav-main .content a {
    display: block;
    padding: 10px;
    font-family: Lato, sans-serif;
    font-size: 14px;
    font-size: 1.4rem;
    color: #5d5d5d; }
    .nav-main .content a.active {
      color: #29abe2;
      font-weight: 700; }

.footer .nav-main {
  border: none;
  margin: 0; }
  .footer .nav-main ul {
    padding: 0;
    margin: 0; }
  .footer .nav-main li {
    display: inline;
    text-transform: uppercase;
    margin-right: 10px; }
  .footer .nav-main a {
    font-family: Lato, sans-serif;
    color: #5d5d5d;
    font-size: 12px;
    font-size: 1.2rem; }
    .footer .nav-main a.active {
      color: #fff; }

.nav-social .content li {
  list-style-type: none;
  display: inline-block;
  vertical-align: middle;
  margin-left: 20px; }
  .nav-social .content li:first-child {
    margin-left: 0; }

.nav-social .content a {
  display: block;
  background-image: url(../img/sprite.svg); }

.social-facebook {
  width: 7px;
  height: 16px;
  background-position: 0 0; }

.social-twitter {
  width: 15px;
  height: 12px;
  background-position: 0 -20px; }

.social-contact {
  width: 18px;
  height: 13px;
  background-position: 0 -34px; }

.block-sidebar {
  margin-bottom: 40px; }

.block-sidebar--como-ayudar {
  background-color: #2f2935;
  text-align: center;
  padding: 60px 0; }
  .block-sidebar--como-ayudar h2 {
    border-bottom: none;
    padding: 0;
    margin: 0; }
  .block-sidebar--como-ayudar .content a {
    color: #29abe2;
    font-family: Dosis, sans-serif;
    text-transform: uppercase;
    font-size: 22px;
    font-size: 2.2rem; }
    .block-sidebar--como-ayudar .content a:after {
      content: ">";
      margin-left: 5px;
      font-size: 30px;
      font-size: 3rem; }

.block-consultas-inicio {
  padding: 40px;
  background-color: #29abe2;
  border-radius: 4px; }
  .block-consultas-inicio h2, .block-consultas-inicio p {
    color: #fff; }
  .block-consultas-inicio h2 {
    font-size: 18px;
    font-size: 1.8rem; }
  .block-consultas-inicio p {
    font-size: 14px;
    font-size: 1.4rem; }
  .block-consultas-inicio .button {
    margin-top: 2em;
    font-size: 16px;
    font-size: 1.6rem; }
    .block-consultas-inicio .button a {
      background-color: transparent;
      border: 1px solid #fff; }

.block-propuestas-inicio {
  padding: 40px;
  background-color: #e8e8e8;
  border-radius: 4px; }
  .block-propuestas-inicio p {
    font-size: 14px;
    font-size: 1.4rem; }
  .block-propuestas-inicio h2 {
    font-size: 18px;
    font-size: 1.8rem; }
  .block-propuestas-inicio .button {
    margin-top: 2em;
    font-size: 16px;
    font-size: 1.6rem; }
    .block-propuestas-inicio .button a {
      background-color: #2f2935;
      border: 1px solid #2f2935; }

.block-proponga {
  margin: 2em 0;
  background-color: #f7931e;
  padding: 40px;
  border-radius: 4px; }
  .block-proponga p {
    color: #fff;
    font-size: 16px;
    font-size: 1.6rem;
    display: inline-block; }
  .block-proponga .button {
    margin-left: 5em; }
    .block-proponga .button a {
      border: 1px solid #fff;
      background-color: transparent; }

.inicio-temporal {
  margin-bottom: 40px; }
  .inicio-temporal .button--alpha {
    margin: 30px 0;
    font-size: 14px;
    font-size: 1.4rem; }
    @media screen and (min-width: 768px) {
      .inicio-temporal .button--alpha {
        font-size: 16px;
        font-size: 1.6rem; } }

.page-contact .contact-form {
  margin-top: 40px; }

.page-contact label {
  color: #2f2935;
  font-size: 12px;
  font-size: 1.2rem; }

.page-contact input[type="text"], .page-contact textarea {
  border: 1px solid #ddd;
  border-radius: 3px;
  font-size: 12px;
  font-size: 1.2rem;
  padding: 3px 5px; }

.page-contact .form-type-textfield, .page-contact .form-type-textarea {
  overflow: hidden; }
  .page-contact .form-type-textfield label, .page-contact .form-type-textarea label {
    float: left;
    display: block;
    margin-right: 3.57866%;
    width: 22.316%; }
    .page-contact .form-type-textfield label:last-child, .page-contact .form-type-textarea label:last-child {
      margin-right: 0; }
  .page-contact .form-type-textfield input, .page-contact .form-type-textfield textarea, .page-contact .form-type-textarea input, .page-contact .form-type-textarea textarea {
    float: left;
    display: block;
    margin-right: 3.57866%;
    width: 74.10533%; }
    .page-contact .form-type-textfield input:last-child, .page-contact .form-type-textfield textarea:last-child, .page-contact .form-type-textarea input:last-child, .page-contact .form-type-textarea textarea:last-child {
      margin-right: 0; }

.page-contact .form-actions {
  margin-top: 30px; }

.page-contact .form-submit {
  border: none;
  border-radius: 3px;
  background-color: #29abe2;
  color: #fff;
  padding: 8px 15px;
  font-size: 12px;
  font-size: 1.2rem; }

.view-ysga-noticias .views-row {
  margin-bottom: 2em;
  padding-bottom: 2em;
  border-bottom: 1px solid #ddd; }
  .view-ysga-noticias .views-row:last-child {
    margin-bottom: 0;
    padding-bottom: 0;
    border-bottom: 0; }

.view-ysga-noticias .views-field-field-noticia-imagenes {
  float: left;
  margin: 0 0.8em 0.8em 0; }
  .view-ysga-noticias .views-field-field-noticia-imagenes img {
    border-radius: 5px; }

.view-ysga-noticias .views-field-body {
  clear: both;
  font-size: 12px;
  font-size: 1.2rem;
  margin: 0.8em 0; }

.view-ysga-noticias .noticia-info-fecha {
  color: #b01C32;
  margin-right: 10px; }

.view-ysga-noticias .noticia-info-categoria {
  color: #8e8a6b;
  background-color: #e2dcc7;
  padding: 0 8px;
  text-transform: uppercase; }

.view-ysga-noticias h3 {
  margin: 5px 0 0 0;
  font-size: 14px;
  font-size: 1.4rem; }
  .view-ysga-noticias h3 a {
    color: #2f2935; }

.page-inicio .panel-sidebar .pane-title {
  margin-bottom: 2em; }

.page-node.node-type-noticia .pane-node-created {
  color: #b01C32;
  font-size: 11px;
  font-size: 1.1rem;
  margin-bottom: 1em; }

.page-node.node-type-noticia .pane-node-field-noticia-adjuntos {
  margin: 2em 0; }

.page-node.node-type-noticia .file {
  font-size: 14px;
  font-size: 1.4rem; }

.page-node.node-type-consulta .pane-node-title {
  display: inline-block;
  position: relative;
  bottom: -20px; }

.page-node.node-type-consulta .title {
  background-color: #f7931e;
  color: #fff;
  padding: 1em;
  margin: 0;
  font-size: 20px;
  font-size: 2rem;
  display: inline-block; }

.page-node.node-type-consulta .pane-node-field-consulta-fecha {
  display: inline-block;
  color: #b01C32;
  font-size: 11px;
  font-size: 1.1rem;
  margin-left: 20px;
  position: relative;
  bottom: -10px; }

.node-type-propuesta .panel-two-col .panel-content {
  position: relative; }

.pane-node-field-propuesta-categoria {
  background-color: #ddd;
  padding: 20px;
  margin-bottom: 4em; }

.field-name-field-propuesta-categoria {
  display: inline-block;
  background-color: #b01C32;
  color: #fff;
  text-transform: uppercase;
  padding: 0 2.5em;
  height: 35px;
  line-height: 35px;
  font-weight: 900;
  font-family: Lato, sans-serif;
  font-size: 15px;
  font-size: 1.5rem; }

.pane-node-field-votes {
  position: absolute;
  right: 20px;
  top: 18px;
  height: 42px; }

.voting-plusone-count, .voting-plusone-button {
  display: inline-block;
  vertical-align: top; }

.voting-plusone-count {
  margin-right: 2em;
  font-family: Lato, sans-serif;
  font-weight: 700; }

.voting-plusone-count-count {
  font-size: 28px;
  font-size: 2.8rem;
  display: block;
  text-align: center;
  line-height: 1em; }

.voting-plusone-count-legend {
  color: #29abe2;
  font-size: 11px;
  font-size: 1.1rem; }

.voting-plusone-button input, .voting-plusone-button a {
  display: block;
  margin: 4px 0;
  height: 34px;
  line-height: 34px;
  border: none;
  border-bottom: 2px solid #1a8dbe;
  background-color: #29abe2;
  border-radius: 5px;
  padding: 0 0.8em;
  color: #fff;
  font-family: Lato, sans-serif;
  text-transform: uppercase;
  font-weight: 900;
  font-size: 14px;
  font-size: 1.4rem; }

.voting-plusone-button a:hover {
  text-decoration: none; }

.view-consultas-page .views-grid-row {
  margin-bottom: 5em;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto; }
  .view-consultas-page .views-grid-row::after {
    clear: both;
    content: "";
    display: table; }

@media screen and (min-width: 480px) {
  .view-consultas-page .views-grid-column {
    float: left;
    display: block;
    margin-right: 2.17235%;
    width: 44.98412%; }
    .view-consultas-page .views-grid-column:last-child {
      margin-right: 0; } }

@media screen and (min-width: 480px) {
  .view-consultas-page .views-grid-column:last-child {
    margin-left: 7.85941%; } }

.view-consultas-page .views-field-field-consulta-imagenes {
  float: left;
  margin-right: 25px; }
  .view-consultas-page .views-field-field-consulta-imagenes img {
    border-radius: 5px; }

.view-consultas-page .views-field-field-consulta-fecha {
  color: #b01C32;
  font-size: 11px;
  font-size: 1.1rem; }

.view-consultas-page .views-field-consulta-title {
  margin: 0.5em 0; }

.view-consultas-page .views-field-body p {
  margin: 0;
  font-size: 12px;
  font-size: 1.2rem; }

.view-consultas-page-archivo .views-grid-row {
  margin-bottom: 0; }

.view-consultas-page-archivo .views-grid-column {
  float: none;
  width: 100%;
  margin: 0 0 3em 0; }
  .view-consultas-page-archivo .views-grid-column:last-child {
    margin-left: 0; }

.view-propuestas-page {
  overflow: hidden; }
  .view-propuestas-page .category-wrapper {
    width: 33.333333%;
    float: left; }
    .view-propuestas-page .category-wrapper:first-child .category-title {
      background-color: #b01C32; }
    .view-propuestas-page .category-wrapper:last-child .category-title {
      background-color: #841526; }
  .view-propuestas-page .category-title {
    text-transform: uppercase;
    color: #fff;
    background-color: #9a192c;
    padding: 2em; }
  .view-propuestas-page .views-row {
    padding: 0 2em;
    margin-bottom: 5em; }
  .view-propuestas-page .propuesta-title {
    font-size: 14px;
    font-size: 1.4rem;
    margin-bottom: 0.5em; }
  .view-propuestas-page .propuesta-body {
    font-size: 12px;
    font-size: 1.2rem; }

.view-propuestas-consulta .view-header {
  margin-bottom: 10px; }

.view-propuestas-consulta .header-propuestas {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 12px;
  font-size: 1.2rem; }

.view-propuestas-consulta .view-footer {
  margin-top: 20px; }
  .view-propuestas-consulta .view-footer a {
    font-size: 12px;
    font-size: 1.2rem;
    color: #b01C32; }

.view-propuestas-consulta .views-field-title {
  margin-bottom: 0.3em; }
  .view-propuestas-consulta .views-field-title a {
    color: #5d5d5d; }

.propuestas-inicio .pane-title {
  margin-bottom: 1.5em; }

.propuestas-inicio .view-content {
  width: 70%; }

.propuestas-inicio .view-content > h3 {
  text-transform: uppercase;
  font-size: 14px;
  font-size: 1.4rem;
  border-bottom: 1px solid #ddd;
  padding-bottom: 0.3em; }

.propuestas-inicio .propuestas-inicio-propuesta {
  margin-bottom: 2em; }

.propuestas-inicio .propuestas-inicio-propuesta-title {
  margin-bottom: 0.3em;
  font-size: 13px;
  font-size: 1.3rem; }

.propuestas-inicio .views-field-body {
  font-size: 12px;
  font-size: 1.2rem;
  margin-bottom: 0.5em; }

.webform-client-form {
  margin-top: 5em; }
  .webform-client-form label {
    font-size: 14px;
    font-size: 1.4rem;
    margin-bottom: 0.8em; }
  .webform-client-form .form-item {
    margin: 0 0 3em 0; }
  .webform-client-form .form-type-radio {
    margin: 0 0 0.8em 0; }
  .webform-client-form .form-submit {
    border: none;
    border-radius: 3px;
    background-color: #29abe2;
    color: #fff;
    padding: 8px 15px;
    font-size: 14px;
    font-size: 1.4rem; }
  .webform-client-form .webform-component-file .description {
    font-size: 10px;
    font-size: 1rem;
    margin-top: 0.5em; }
  .webform-client-form .webform-component-file .form-submit {
    font-size: 12px;
    font-size: 1.2rem;
    background-color: #2f2935;
    padding: 6px 12px; }

.webform-confirmation .links {
  margin-top: 1em; }
  .webform-confirmation .links a {
    display: inline-block;
    color: #fff;
    padding: 0.5em 1em;
    border-radius: 5px;
    background-color: #f7931e;
    border-bottom: 2px solid #c26c07; }

.proponga-cta {
  margin-top: 6em;
  text-align: center; }
  .proponga-cta a {
    width: 290px;
    min-height: 130px;
    display: inline-block;
    background-color: #29abe2;
    color: #fff;
    padding: 20px;
    border-radius: 5px;
    vertical-align: top; }
  .proponga-cta p {
    margin: 0;
    font-size: 12px;
    font-size: 1.2rem;
    color: #fff; }
  .proponga-cta h3 {
    margin: 0 0 0.3em 0;
    color: #fff;
    font-size: 20px;
    font-size: 2rem; }

.proponga-cta-archivo {
  margin-right: 1em; }

.proponga-cta-formulario {
  margin-left: 1em; }
