/*
 * Rules for base elements
 */

html {
  font-size: 62.5%;
}

body {
  margin: 0;
  font-family: $copy-font;
  color: $text-color;
}

p, li {
  @include font-size(14);
  color: #555;
  line-height: 1.5;
}

p, ul, ol, dl {
  margin: 0 0 0.5em 0;
}

ul, ol {
  padding-left: 2em;
}

p {
  overflow: hidden;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  font-family: $subtitle-font;
  color: $subtitle-color;
  font-weight: 700;
  a {
    color: $subtitle-color;
  }
}

h1.title {
  @include font-size(24);
}

h3 {
  @include font-size(16);
}

h4, h5, h6 {
  @include font-size(14);
}

.field-name-body {
  h2, h3, h4, h5, h6 {
    margin: 1em 0;
  }
}

// Tablas
table {
  width: 100%;
  border-collapse: collapse;
  @include font-size(14);
}

th, td {
  padding: 0.5em;
}

// Forms 


/*
 * Rules for base drupal elements
 */

.element-invisible {
  @extend %hidden;
}

// Tabs
.tabs {
  padding: 0;
  overflow: hidden;
  border-bottom: 1px solid #ccc;
  margin: 10px 0;
  li {
    list-style-type: none;
    float: left;
  }
  a {
    color: #333;
    @include font-size(14);
    padding-right: 20px;
    &.active {
      color: #000;
      font-weight: 600;
    }
    &:hover {
      color: #000;
      text-decoration: none;
    }
  }
}

// Reusable components

.button {
  overflow: hidden;
  @include font-size(11);
  margin: 0;
}

.button a {
  display: inline-block;
  background-color: #ccc;
  color: #fff;
  padding: 0.5em 1em;
  border-radius: 5px;
}

.button--alpha a {
  background-color: $title-color;
  border-bottom: 2px solid darken($title-color, 15%);
}