//
// General layout rules
//

.header-content {
  padding: 0 20px;
  position: relative;
  @include outer-container;
  @include media($full-width) {
    padding: 0;
  }
}

.footer-content {
  position: relative;
  padding: 0 20px;
  @include outer-container;
  @include media($full-width) {
    padding: 0;
  }
}

.main-content {
  margin: 40px 0;
  padding: 0 20px;
  @include outer-container;
  @include media($full-width) {
    padding: 0;
  }
}

.no-sidebars .main {
  width: 100%;
}

.one-sidebar .main {
  @include media($mobile) {
    @include span-columns(7);
  }
}

#sidebar-first {
  @include media($mobile) {
    @include span-columns(5);
    @include shift(1);
  }
}

// Panels layout

.panel-separator {
  display: none;
}

.panel-one-two-col, .panel-two-col {
  @include outer-container;
  .panel-top {
    margin-bottom: 40px;
  }
  .panel-content {
    @include media($mobile) {
      @include span-columns(7);
    }
  }
  .panel-sidebar {
    @include media($mobile) {
      @include span-columns(5);
      @include shift(1);
    }
  }
}

// Página de inicio
.page-inicio .panel-one-two-col .panel-top {
  @include outer-container;
}

.block-consultas-inicio {
  @include span-columns(4);
}

.block-propuestas-inicio {
  @include span-columns(9);
}
