//
// General layout rules
//

.header-content {
  margin: 10px;
  position: relative;
  @include media($mobile) {
    height: 120px;
    margin: 0;
    @include outer-container;
  }
}

.footer-content {
  position: relative;
  @include outer-container;
}

.main-content {
  margin: 40px 0;
  @include outer-container;
}

.no-sidebars .main {
  width: 100%;
}

.one-sidebar .main {
  @include media($mobile) {
    @include span-columns(7);
  }
}

#sidebar-first {
  @include media($mobile) {
    @include span-columns(5);
    @include shift(1);
  }
}

// Panels layout

.panel-separator {
  display: none;
}

.panel-one-two-col, .panel-two-col {
  @include outer-container;
  .panel-top {
    margin-bottom: 40px;
  }
  .panel-content {
    @include media($mobile) {
      @include span-columns(7);
    }
  }
  .panel-sidebar {
    @include media($mobile) {
      @include span-columns(5);
      @include shift(1);
    }
  }
}