//
// Variables
//

// Tipografías
$title-font: Dosis, sans-serif;
$subtitle-font: Lato, sans-serif;
$copy-font: 'Noto Sans', sans-serif;

// Colores
$title-color: #f7931e;        // Naranja
$subtitle-color: #2f2935;     // Morado oscuro
$text-color: #5d5d5d;         // Gris oscuro
$highlight1-color: #20ceac;   // Turquesa
$highlight2-color: #29abe2;   // Celeste
$background-color: #ddd;      // Gris claro


// Neat variables
$max-width: 1200px;
$grid-colums: 13;

// Breakpoints
$mobile: 480px;
$full-width: 1200px;
